/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# 0. Settings
  ## MQ - media query tool
  ## Mixins
  ## Functions
  ## Variables
# 1. Base
  ## Normalize
  ## Elements
  ## Typography
  ## Forms
# 2. Layouts
  ## Grid
# 3. Objects
  ## Media
# 4. Components
  ## Comments
  ## Navigation
  ## Header
  ## Sidebar
  ## Footer
  ## Widgets
  ## Content
# 5. Theme
# 6. Scope
# 7. Utilities
  ## Clearings
  ## Accessibility
  ## Alignments
--------------------------------------------------------------*/

/*
 @todo: refactor html to modular - this needs thinking in terms of "the wordpress way"
 @todo: refactor class names to BEM
 @todo: prefix classes with a- m- o- prefixes
 @todo: think on how to extract the styling to theme
 */

/*------------------------------------*\
  # 0. Settings
\*------------------------------------*/

// MediaQueries Sass tool
@import "settings/_mq.scss";

// Sass mixins
@import "settings/_mixins";

// Sass functions
@import "settings/_functions";

// Variables definitions
@import "settings/_variables";


/*------------------------------------*\
  # 1. Base
\*------------------------------------*/

// CSS normalize
@import "base/normalize";

// Elements
@import "base/_elements";

// Typography
@import "base/_typography";

// Forms
@import "base/_forms";


/*------------------------------------*\
  # 2. Layouts
\*------------------------------------*/

// Grid layout
@import "layouts/_grid";

// Main layouts
@import "layouts/_main";

/*------------------------------------*\
  # 3. Objects
\*------------------------------------*/

// Media
@import "objects/media";


/*------------------------------------*\
  # 4. Components
\*------------------------------------*/

// Comments
@import "components/_comments";

// Navigation
@import "components/_navigation";

// Widgets
@import "components/_widgets";

// Header
@import "components/header";

// Content
@import "components/content";

// Sidebar
@import "components/sidebar";

// Footer
@import "components/footer";


/*------------------------------------*\
  # 5. Theme
\*------------------------------------*/


/*------------------------------------*\
  # 6. Scope
\*------------------------------------*/


/*------------------------------------*\
  # 7. Utilities
\*------------------------------------*/

// Clearing classes
@import "utilities/clearings";

// Accessibility
@import "utilities/accessibility";

// Alignments
@import "utilities/alignments";
