/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# 0. Utilities
  ## MQ - media query tool
  ## Mixins
  ## Functions
  ## Variables
  ## Clearings
  ## Normalize
# 1. Base
  ## Elements
  ## Typography
  ## Forms
# 2. Atoms
  ## Accessibility
  ## Alignments
# 3. Molecules
  ## Comments
  ## Media
  ## Navigation
  ## Widgets
# 4. Organisms
  ## Header
  ## Main
  ## Content
  ## Sidebar
  ## Footer
# 5. Templates
  ## Grid
# 6. Theme

--------------------------------------------------------------*/

/*
 @todo: refactor html to modular - this needs thinking in terms of "the wordpress way"
 @todo: refactor class names to BEM
 @todo: prefix classes with a- m- o- prefixes
 @todo: think on how to extract the styling to theme
 */

/*------------------------------------*\
  # 0. Utilities
\*------------------------------------*/

// MediaQueries Sass tool
@import "0_utilities/_mq.scss";

// Sass mixins
@import "0_utilities/_mixins";

// Sass functions
@import "0_utilities/_functions";

// Variables definitions
@import "0_utilities/_variables";

// Clearing classes
@import "0_utilities/_clearings";

// CSS normalize
@import "0_utilities/_normalize";


/*------------------------------------*\
  # 1. Base
\*------------------------------------*/

// Elements
@import "1_base/_elements";

// Typography
@import "1_base/_typography";

// Forms
@import "1_base/_forms";


/*------------------------------------*\
  # 2. Atoms
\*------------------------------------*/

// Accessibility
@import "2_atoms/_accessibility";

// Alignments
@import "2_atoms/_alignments";


/*------------------------------------*\
  # 3. Molecules
\*------------------------------------*/


// Comments
@import "3_molecules/_comments";

// Media
@import "3_molecules/_media";

// Navigation
@import "3_molecules/_navigation";

// Widgets
@import "3_molecules/_widgets";


/*------------------------------------*\
  # 4. Organisms
\*------------------------------------*/

// Header
@import "4_organisms/_header";

// Main
@import "4_organisms/_main";

// Content
@import "4_organisms/_content";

// Sidebar
@import "4_organisms/_sidebar";

// Footer
@import "4_organisms/_footer";


/*------------------------------------*\
  # 5. Templates
\*------------------------------------*/

@import "5_templates/_grid";


/*------------------------------------*\
  # 6. Theme
\*------------------------------------*/
