html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior;
     see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
  quotes: "" "";
  margin: 0;

  &:before,
  &:after {
	content: "";
  }
}

hr {
  background-color: $color__background-hr;
  border: 0;
  height: 1px;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

figure {
  margin: 0;
}

/* LINKS */
a {
  color: $color__link;

  &:visited {
	color: $color__link-visited;
  }
  &:hover,
  &:focus,
  &:active {
	color: $color__link-hover;
  }
  &:focus {
	outline: thin dotted;
  }
  &:hover,
  &:active {
	outline: 0;
  }
}

/* LISTS */

ul, ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

dt {
  font-weight: bold;
}

dl, dd {
  margin: 0;
}

/* TABLES */

table {
  width: 100%;
}
