/* BUTTONS */
.o-btn {
  border: 1px solid;
  border-color: $color__border-button;
  border-radius: 3px;
  background: $color__background-button;
  color: rgba(0, 0, 0, .8);
  font-size: rem(12px);
  line-height: 1;
  padding: .6em 1em .4em;

  &:active,
  &:focus,
  &:hover {
    border-color: $color__border-button-focus;
  }
}

/* FIELDS */

.o-text-input {
  color: $color__text-input;
  border: 1px solid $color__border-input;
  border-radius: 3px;

  &:focus {
    color: $color__text-input-focus;
  }
}
